<h1>Log In</h1>

<!-- <%= form_tag '/login' do %>
  <%= label_tag :username %><br>
  <%= text_field_tag :username %><br>

  <%= label_tag :password %><br>
  <%= password_field_tag :password %><br>

  <%= submit_tag 'Log In' %>
<% end %> -->

<%= form_for(:user) do |f| %>
  <!-- using a symbol as the arg for form_for so that I can use the formbuilder, and because I'm looking for an existing user, not creating a new one. Basically I'm saying that this form is for the user model, rather than this form is for a user instance -->
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.submit 'Log In' %>
<% end %>