<h1>Edit Comment</h1>

<%= form_for(@comment) do |f| %>
  <%= f.label :content %><br>
  <%= f.text_area :content %><br>

  <%= f.hidden_field :project_id %>
  <!-- carries over the project Id to the create action-->

  <%= f.submit 'Update Comment' %>
<% end %>