<h1>New Comment for <%= @comment.project.title %></h1>

<%= render partial: 'layouts/errors', locals: {object: @comment} %>

<%= form_for(@comment) do |f| %>
  <%= render 'form', f: f %>

  <%= f.submit 'Post Comment' %>
<% end %>