<h1>Posted Comment:</h1>
<div class='error'>
  <%= flash[:error] if flash[:error] %>
</div>
<br>
<p><%= @comment.content %></p>
<br>
<% if @comment.user_id == current_user.id %>
  <%= link_to 'Edit this Comment', edit_comment_path(@comment) %> |
  <%= link_to 'Delete this Comment', comment_path, method: :delete %> |
<% end %>
<%= link_to 'Back to Project Page', project_path(@comment.project) %>