<h1>Sign Up</h2>

<%= render partial: 'layouts/errors', locals: {object: @user} %>

<%= form_for(@user) do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.label :image %><br>
  <%= f.file_field :image %><br>

  <%= f.label :email %><br>
  <%= f.email_field :email%><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.submit 'Sign Up', class: 'submit-btn' %>
<% end %>