<h1><%= @user.username %>'s Stash</h1>


<% if @user.image.attached? %>
    <div class="avatar">
        <br>
        <%= image_tag url_for(@user.image) %>
        <br>
    </div>
<% end %>


<%= link_to 'Add New Yarn', new_yarn_path, class: 'btn-link' %>  <%= link_to 'Add New Project', new_project_path, class: 'btn-link' %>

<h2>My Yarns</h2>

<table>
    <thead>
        <tr>
            <th><%= link_to 'Brand', sort: 'brand_name' %></th>
            <th><%= link_to 'Colorway', sort: 'colorway' %></th>
            <th><%= link_to 'Fiber', sort: 'fiber' %></th>
            <th><%= link_to 'Weight', sort: 'weight' %></th>
            <th><%= link_to 'Yardage', sort: 'yardage' %></th>
            <th><%= link_to 'Quantity', sort: 'quantity' %></th>
        </tr>
    </thead>
    <% @yarns.each do |yarn|%>
        <tr>
            <td><%= link_to yarn.brand_name, yarn_path(yarn) %></td>
            <td><%= yarn.colorway %></td>
            <td><%= yarn.fiber %></td>
            <td><%= yarn.weight %></td>
            <td><%= yarn.yardage %></td>
            <td><%= yarn.quantity %></td>
            
        </tr>
    <% end %>
</table>

<h2>My Projects</h2>
<div class="cards">
    <% @user.projects.each do |project| %>
        <div class="project-card">
            <h3><%= link_to project.title, project_path(project) %></h3>
            <p>Pattern: <%= project.pattern_name %></p>
            <p>Designer: <%= project.designer %></p>
            <p>Craft: <%= project.craft %></p>
            <p>Tool Size: <%= project.tool_size %></p>
        </div>
    <% end %>
</div>
