  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :pattern_name %><br>
  <%= f.text_field :pattern_name %><br>

  <%= f.label :designer %><br>
  <%= f.text_field :designer %><br>

  <%= f.label :craft %><br>
  <%= f.text_field :craft %><br>

  <%= f.label :tool_size %><br>
  <%= f.text_field :tool_size %><br>

  <p>Select Yarn for Your Project:</p>
  <%= f.collection_select :yarn_ids,  current_user.yarns, :id, :brand_and_colorway, {include_blank: true} %><br>