<br>
<div class='error'>
  <%= flash[:error] if flash[:error] %>
</div>
<br>
<% if @project.user == current_user %>
<%= link_to 'Edit This Project', edit_project_path(@project) %> | 
<%= link_to 'Delete This Project', project_path(@project), method: :delete %>
<% end %>

<div class='project-info'>
  <h1><%= @project.title %></h1>
  <p>Crafter: <%= link_to @project.user.username,  user_path(@project.user_id) %></p>
  <p>Pattern Name: <%= @project.pattern_name %></p>
  <p>Designer: <%= @project.designer %></p>
  <p>Craft: <%= @project.craft %></p>
  <p>Tool Size: <%= @project.tool_size %></p>
</div>

<div class='yarns-info'>
  <h2>Yarns Used:</h2>
  <% if @project.yarns %>
    <% @project.yarns.each do |yarn| %>
      <p>Brand Name: <%= yarn.brand_name %></p>
      <p>Colorway: <%= yarn.colorway %></p>
      <p>Fiber: <%= yarn.fiber %></p>
      <p>Weight: <%= yarn.weight %></p>
      <p>Yardage: <%= yarn.yardage %></p>
      <p>Quantity: <%= yarn.quantity %></p>
    <% end %>
  <% end %>
</div>

<div class='comments-section'>
  <h2>Comments</h2>
  
  <%= link_to 'Leave a Comment', new_project_comment_path(@project.id) %> | <%= link_to 'View All Comments', project_comments_path(@project) %>
  <br>
  <% @project.comments.each do |comment| %>
  <div class="comment_container">
    <h3><%= link_to comment.user.username, user_path(comment.user_id) %>: </h3>
    <p><%= comment.content %></p>
    <p><%= comment.created_at.strftime("Left on %-m/%-d/%Y") %></p>
    <%= link_to 'View Comment', project_comment_path(@project, comment.id) %>
  </div>
  <% end %>
</div>