<h1>Create a New Yarn</h1>

<%= render partial: 'layouts/errors', locals: {object: @yarn} %>

<%= form_for(@yarn) do |f| %>

  <%= render 'form', f: f %>

  <p>Or Create a new Project</p>
    <%= f.fields_for :project, Project.new do |p| %>
      <%= p.label :title %><br>
      <%= p.text_field :title %><br>

      <%= p.label :pattern_name %><br>
      <%= p.text_field :pattern_name %><br>

      <%= p.label :designer %><br>
      <%= p.text_field :designer %><br>

      <%= p.label :craft %><br>
      <%= p.text_field :craft %><br>

      <%= p.label :tool_size %><br>
      <%= p.text_field :tool_size %><br>

    <% end %>

  <%= f.submit "Create New Yarn", class: 'submit-btn' %>
<% end %>
