<div class='error'>
  <%= flash[:error] if flash[:error] %>
</div>

<h1>Yarn Details</h1>

<p>Brand Name: <%= @yarn.brand_name %></p>
<p>Colorway: <%= @yarn.colorway %></p>
<p>Fiber: <%= @yarn.fiber %></p>
<p>Weight: <%= @yarn.weight %></p>
<p>Yardage: <%= @yarn.yardage %></p>
<p>Quantity: <%= @yarn.quantity %></p>
<% if @yarn.project %>
  <p>Associated Project: <%= @yarn.project.title %></p>
<% end  %>

<% if @yarn.user_id == current_user.id %>
  <%= link_to 'Edit This Yarn', edit_yarn_path(@yarn) %> | <%= link_to 'Delete This Yarn', yarn_path(@yarn), method: :delete %>
<% end %>