<h1>Yarn Details</h1>

<p>
Brand Name: <%= @yarn.brand_name %><br>
Colorway: <%= @yarn.colorway %><br>
Fiber: <%= @yarn.fiber %><br>
Weight: <%= @yarn.weight %><br>
Yardage: <%= @yarn.yardage %><br>
Quantity: <%= @yarn.quantity %><br>
Owner: <%= @yarn.user.username %><br>
<% if @yarn.project %>
  Associated Project: <%= @yarn.project.title %>
<% end  %>
</p>