<!DOCTYPE html>
<html>
  <head>
    <title>YarnStasherRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if logged_in %>
        <%= link_to 'Home', home_path %>
        <%= link_to 'My Profile', user_path(current_user) %>
        <%= link_to 'New Yarn', new_yarn_path %>
        <%= link_to 'New Project', new_project_path %>
        <%= link_to 'All Projects', projects_path %>
        <%= link_to 'Log Out', logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Log In', login_path %> | 
        <%= link_to 'Sign Up', signup_path %>
      <% end %>
    </nav>
    <div class='wrapper'>
      <%= flash[:error] if flash[:error] %>
      <%= flash[:message] if flash[:message] %>
      <%= yield %>
    </div>

    <footer class="branding">
      <small>&copy; 2021 <strong>Yarn Stasher</strong></small>
    </footer>
  </body>
</html>
